# Python
__pycache__
*.py[cod]
*.pyo
*.pyd
.Python
env/
*.env
env.bak/
pip-log.txt
pip-delete-this-directory.txt

# Django
*.log
*.pot
*.pyc
__pycache__
*~
*.swp
*.bak
db.sqlite3
media

# JavaScript / Node
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
