{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>Your Fitness App</title>

  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <script src="{% static 'js/script.js' %}"></script>

</head>
<body>
    {% include "navbar.html" %}
    <div class="container">
      {% if messages %}
        <div class="messages">
          {% for message in messages %}
            <div{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
              {{ message }}
            </div>
          {% endfor %}
        </div>
      {% endif %}
      {% block content %}
      {% endblock %}
    </div>

    <footer>
        <p>© {{ year }} Your Fitness App</p>
    </footer>
      
  <!-- JavaScript files that should load at the end of the body here -->
</body>
</html>
