{% extends 'base_generic.html' %}

{% block content %}
<h2>Your Exercises</h2>
<ul>
    {% for exercise in exercises %}
        <li>
            <h3>{{ exercise.name }} <small>({{ exercise.type }})</small></h3>
            <p>{{ exercise.description }}</p>
            <a href="{% url 'update_exercise' exercise.pk %}">Update</a> | 
            <a href="{% url 'delete_exercise' exercise.pk %}">Delete</a>
        </li>
    {% empty %}
        <li>No exercises added.</li>
    {% endfor %}
</ul>
<a href="{% url 'exercise_create' user.profile.id %}">Create Exercise</a>
{% endblock %}
