{% extends "base_generic.html" %}

{% block content %}
    <h2>Workout Summary</h2>
    <p><strong>Name:</strong> {{ workout.name }}</p>
    <p><strong>Date:</strong> {{ workout.date }}</p>
    <p><strong>Duration:</strong> {{ workout.duration }} minutes</p>
    <p><strong>Description:</strong> {{ workout.description }}</p>
    <p><strong>Exercises:</strong></p>
    <ul>
        {% for exercise_prog in exercises_progress %}
            <li>
                {{ exercise_prog.exercise.name }} (Reps: {{ exercise_prog.repetitions }}, Sets: {{ exercise_prog.sets }})
            </li>
        {% endfor %}
    </ul>
    {% if workout.completed %}
        <p><strong>Good job! You've completed this workout!</strong></p>
    {% endif %}
{% endblock %}
