{% extends 'base_generic.html' %}

{% block content %}
<h2>Workout Details</h2>
<p>Name: {{ workout.name }}</p>
<p>Date: {{ workout.date }}</p>
<p>Duration: {{ workout.duration }} minutes</p>

{% if workout.description %}
<p>Description: {{ workout.description }}</p>
{% endif %}

<p>Exercises:</p>
<ul>
    {% for exercise in workout.exercises.all %}
        <li>{{ exercise.name }}: {{ exercise.repetitions }} reps, {{ exercise.sets }} sets</li>
    {% empty %}
        <li>No exercises added to this workout.</li>
    {% endfor %}
</ul>

<a href="{% url 'exercise_progress_create' workout.exercises.first.id %}" class="btn btn-primary">Workout Complete</a>
<a href="{% url 'workout_update' workout.id %}">Update Workout</a>
<a href="{% url 'add_exercises_to_workout' workout.id %}">Add Exercises</a>
<a href="{% url 'workout_delete' workout.id %}">Delete Workout</a>
{% endblock %}
